body{
    font-size: larger;
    display: grid;
    place-content: center;
    background-color: black;
    color:white;

}


img{
    width: 30vh;
}

#contenedor-producto{

    border: 2px solid red ;
    background-color: rgb(161, 47, 255);
    font-weight: bold;
}

button{
      background-color: blueviolet;
      font-size: larger;
}


#contenedor-cantidad{
    display: grid;
    place-content: center;
}

